# Move to start position
# Wipe
# Optionally return toolhead

[gcode_macro WIPE_NOZZLE]

# Position of wiper
variable_wipe_x: 173
variable_wipe_y: 309
variable_wipe_z: 1

# Wipe parameters
variable_wipe_count: 10
variable_wipe_padding: 6
variable_wipe_speed: 170

# Travel parameters
variable_travel_speed: 200
variable_travel_z: 5
variable_return_to_start: True


gcode:
    # Store starting position
    {% set start_x = printer.toolhead.position.x %}
    {% set start_y = printer.toolhead.position.y %}
    {% set start_z = printer.toolhead.position.z %}
    
    G90
    CG28

    # Raise toolhead if required
    {% if printer.toolhead.position.z < travel_z %}
        G1 Z{travel_z}
    {% endif %}

    # Move to start position
    G1 X{wipe_x + wipe_padding} Y{wipe_y} F{travel_speed * 60}
    G1 Z{wipe_z}

    # Wipe nozzle
    {% for i in range(wipe_count) %}
        G1 X{wipe_x - wipe_padding} F{wipe_speed * 60}
        G1 X{wipe_x + wipe_padding} F{wipe_speed * 60}
    {% endfor %}

    # Return toolhead
    {% if return_to_start %}
        G1 Z{travel_z}
        G1 X{start_x} Y{start_y} F{travel_speed * 60}
        G1 Z{start_z}
    {% endif %}
