[mcu]
canbus_uuid: 085a193dcfb2


[temperature_sensor leviathan]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100


[output_pin enclosure_lights]
pin: PE6
pwm: True
hardware_pwm: False
value: 0.2
shutdown_value: 0
cycle_time: 0.00025


[neopixel status_bar]
pin: PF10
chain_count: 6
color_order: RGB


# Motor B
[autotune_tmc stepper_x]
motor: ldo-42sth48-2004mah
tuning_goal: auto
voltage: 48
sgt: ${constants.sgt_x}


[stepper_x]
step_pin: PB10
dir_pin: !PB11
enable_pin: !PG0
endstop_pin: tmc5160_stepper_x:virtual_endstop

rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400

position_min: -1.7
position_endstop: 303.3
position_max: 303.3

homing_speed: 60
homing_retract_dist: 5
min_home_dist: 10
homing_positive_dir: true

[tmc5160 stepper_x]
cs_pin: PE15
spi_bus: spi4
diag0_pin: ^!PG1

interpolate: true
run_current: 1
home_current: 0.7
sense_resistor: 0.075
#stealthchop_threshold: 0


# Motor A
[autotune_tmc stepper_y]
motor: ldo-42sth48-2004mah
tuning_goal: auto
voltage: 48
sgt: ${constants.sgt_y}

[stepper_y]
step_pin: PF15
dir_pin: !PF14
enable_pin: !PE9
endstop_pin: tmc5160_stepper_y:virtual_endstop

rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400

position_min: 0
position_endstop: 310
position_max: 310

homing_speed: 60
homing_retract_dist: 10
min_home_dist: 15
homing_positive_dir: true

[tmc5160 stepper_y]
cs_pin: PE11
spi_bus: spi4
diag0_pin: ^!PE10

interpolate: true
run_current: 1
home_current: 0.7
sense_resistor: 0.075
#stealthchop_threshold: 0


# Front Left
[autotune_tmc stepper_z]
motor: ldo-42sth40-1684cl350et
tuning_goal: auto

[stepper_z]
step_pin: PD4
dir_pin: PD3
enable_pin: !PD7

rotation_distance: 4 
microsteps: 32

# Beacon as endstop
endstop_pin: probe:z_virtual_endstop 
homing_retract_dist: 0

position_max: 280
position_min: -5

homing_speed: 8
second_homing_speed: 3


[tmc2209 stepper_z]
uart_pin: PD5
#diag_pin: ^!PD6

interpolate: true
run_current: 0.8
sense_resistor: 0.110
#stealthchop_threshold: 0

# Rear
[autotune_tmc stepper_z1]
motor: ldo-42sth40-1684cl350et
tuning_goal: auto

[stepper_z1]
step_pin: PC12
dir_pin: PC11
enable_pin: !PD2

rotation_distance: 4 
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PD0
#diag_pin: ^!PD1

interpolate: true
run_current: 0.8
sense_resistor: 0.110
#stealthchop_threshold: 0

## Front Right
[autotune_tmc stepper_z2]
motor: ldo-42sth40-1684cl350et
tuning_goal: auto

[stepper_z2]
step_pin: PC9
dir_pin: PC8
enable_pin: !PC10

rotation_distance: 4 
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PA8
#diag_pin: ^!PA15

interpolate: true
run_current: 0.8
sense_resistor: 0.110
#stealthchop_threshold: 0


[heater_bed]
heater_pin: PG11
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA2
pullup_resistor: 2200

min_temp: 0
max_temp: 120

control: pid
pid_kp: 31.229
pid_ki: 1.644
pid_kd: 148.339


[controller_fan electronics_bay]
pin: PF7
max_power: 0.6
kick_start_time: 0.5

[controller_fan voltup_fan]
pin: PB7
max_power: 1
stepper: stepper_x, stepper_y

[heater_fan bed_fans]
pin: PB3
shutdown_speed: 0
heater: heater_bed
heater_temp: 70.0
#control: curve
#points:
#    50.0, 0.2
#    70.0, 0.5
#    100.0, 1.0